<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="apitest" parallel="methods">
	<test name="testngTest">
		<classes>
			<class name="com.example.apitest.java.api.GetUserByIdTest" />
			<class name="com.example.apitest.java.api.PostUserTest" />
			<class name="com.example.apitest.java.api.PutUserTest" />
			<class name="com.example.apitest.java.api.DeleteUserTest" />
		</classes>
	</test>	
</suite>